In [1]:
import pandas as pd

In [2]:
heart_disease=pd.read_csv("heart.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
# create x
x=heart_disease.drop('target',axis=1)
x
# create y 
y=heart_disease['target']
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [4]:
# chose right machine learning model
from sklearn.ensemble import RandomForestClassifier as clf
clf = clf()  
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [5]:
# fit model
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [6]:
clf.fit(x_train,y_train)

RandomForestClassifier()

In [7]:
# evaluate model
predict_y=clf.predict(x_test)
predict_y

array([1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0], dtype=int64)

In [8]:
clf.score(x_train,y_train)

1.0

In [9]:
clf.score(x_test,y_test)

0.8351648351648352

In [10]:
# impove model
from sklearn.ensemble import RandomForestClassifier

for i in range(10, 200, 10):
    print(f"Running model with {i} estimators")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)  # Use correct n_estimators
    print(f"Accuracy is {clf.score(x_test, y_test)}")

Running model with 10 estimators
Accuracy is 0.8131868131868132
Running model with 20 estimators
Accuracy is 0.8131868131868132
Running model with 30 estimators
Accuracy is 0.8131868131868132
Running model with 40 estimators
Accuracy is 0.8461538461538461
Running model with 50 estimators
Accuracy is 0.7692307692307693
Running model with 60 estimators
Accuracy is 0.7802197802197802
Running model with 70 estimators
Accuracy is 0.8461538461538461
Running model with 80 estimators
Accuracy is 0.7912087912087912
Running model with 90 estimators
Accuracy is 0.8351648351648352
Running model with 100 estimators
Accuracy is 0.8131868131868132
Running model with 110 estimators
Accuracy is 0.8021978021978022
Running model with 120 estimators
Accuracy is 0.8021978021978022
Running model with 130 estimators
Accuracy is 0.7912087912087912
Running model with 140 estimators
Accuracy is 0.8241758241758241
Running model with 150 estimators
Accuracy is 0.8021978021978022
Running model with 160 estimators
Accuracy is 0.8241758241758241
Running model with 170 estimators
Accuracy is 0.8021978021978022
Running model with 180 estimators
Accuracy is 0.8241758241758241
Running model with 190 estimators
Accuracy is 0.8351648351648352

In [22]:
# save model 
import pickle
pickle.dump(clf,open("Heart Disease predictor.pkl",'wb'))

In [24]:
load_model=pickle.load(open("Heart Disease predictor.pkl",'rb'))
load_model.score(x_test,y_test)

0.8351648351648352

# 1 etting your data ready
## 1.1 Split data into features and lable(independent vs dependent variable)
## 1.2 Filling missing values 
## 1.3 Converting data types

In [27]:
# standard import 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [29]:
Heart_Disease=pd.read_csv("heart.csv")
Heart_Disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [31]:
x=Heart_Disease.drop('target',axis=1)

In [33]:
y=Heart_Disease['target']

In [35]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [39]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [41]:
phone_data=pd.read_csv('phones_data.csv')
phone_data.head()

,Unnamed: 0,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date
0,0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690.0,1529.0,1819.0,36,5.00,8.0,2000.0,10-2020
1,1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
2,2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
3,3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
4,4,Nokia,1.3 1/16GB Charcoal,Android,1047,1999.0,NaN,NaN,10,5.71,16.0,3000.0,4-2020

In [43]:
phone_data.dtypes

Unnamed: 0          int64
brand_name         object
model_name         object
os                 object
popularity          int64
best_price        float64
lowest_price      float64
highest_price     float64
sellers_amount      int64
screen_size       float64
memory_size       float64
battery_size      float64
release_date       object
dtype: object

In [65]:
# if you have a coloumn which have string you convert into int
# phone-data['price']=phone_data['price'].str.replace("[\$\,\.]","").astype(int)
phone_data['brand_name'] = pd.factorize(phone_data['brand_name'])[0]

In [51]:
phone_data.dtypes

Unnamed: 0          int64
brand_name          int64
model_name         object
os                 object
popularity          int64
best_price        float64
lowest_price      float64
highest_price     float64
sellers_amount      int64
screen_size       float64
memory_size       float64
battery_size      float64
release_date       object
dtype: object

In [55]:
phone_data['brand_name']

0        0
1        0
2        0
3        0
4        1
        ..
1219    63
1220    63
1221    43
1222    25
1223    29
Name: brand_name, Length: 1224, dtype: int64

In [61]:
phone_data['best_price'] = phone_data['best_price'].astype(str).str[:-2].astype(int)

phone_data['best_price']

0        1690
1        1803
2        1803
3        1803
4        1999
        ...
1219    22685
1220    24600
1221     8804
1222    18755
1223      907
Name: best_price, Length: 1224, dtype: int32

In [63]:
phone_data.dtypes

Unnamed: 0          int64
brand_name          int64
model_name         object
os                 object
popularity          int64
best_price          int32
lowest_price      float64
highest_price     float64
sellers_amount      int64
screen_size       float64
memory_size       float64
battery_size      float64
release_date       object
dtype: object

In [67]:
phone_data.head()

,Unnamed: 0,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date
0,0,0,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690,1529.0,1819.0,36,5.00,8.0,2000.0,10-2020
1,1,0,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
2,2,0,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
3,3,0,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
4,4,1,1.3 1/16GB Charcoal,Android,1047,1999,NaN,NaN,10,5.71,16.0,3000.0,4-2020

In [79]:
x=phone_data.drop('best_price',axis=1)
y=phone_data['best_price']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
x,y

(      Unnamed: 0  brand_name                                    model_name  \
 0              0           0          1 1/8GB Bluish Black (5033D-2JALUAA)
 1              1           0  1 5033D 1/16GB Volcano Black (5033D-2LALUAF)
 2              2           0  1 5033D 1/16GB Volcano Black (5033D-2LALUAF)
 3              3           0  1 5033D 1/16GB Volcano Black (5033D-2LALUAF)
 4              4           1                           1.3 1/16GB Charcoal
 ...          ...         ...                                           ...
 1219        1219          63               iPhone XS Max 64GB Gold (MT522)
 1220        1220          63      iPhone XS Max Dual Sim 64GB Gold (MT732)
 1221        1221          43              nova 5T 6/128GB Black (51094MEU)
 1222        1222          25              nubia Red Magic 5G 8/128GB Black
 1223        1223          29                             x-style 35 Screen

            os  popularity  lowest_price  highest_price  sellers_amount  \
 0     Android         422        1529.0         1819.0              36
 1     Android         323        1659.0         2489.0              36
 2     Android         299        1659.0         2489.0              36
 3     Android         287        1659.0         2489.0              36
 4     Android        1047           NaN            NaN              10
 ...       ...         ...           ...            ...             ...
 1219      iOS        1101       16018.0        27900.0              61
 1220      iOS         530       21939.0        33720.0              28
 1221  Android        1174        7999.0         9999.0              18
 1222  Android         752       18500.0        19010.0               2
 1223      NaN         952         785.0          944.0              75

       screen_size  memory_size  battery_size release_date
 0            5.00          8.0        2000.0      10-2020
 1            5.00         16.0        2000.0       9-2020
 2            5.00         16.0        2000.0       9-2020
 3            5.00         16.0        2000.0       9-2020
 4            5.71         16.0        3000.0       4-2020
 ...           ...          ...           ...          ...
 1219         6.50         64.0        3174.0       9-2018
 1220         6.50         64.0        3174.0       9-2018
 1221         6.26        128.0        3750.0      11-2019
 1222         6.65        128.0        4500.0      10-2020
 1223         3.50          NaN        1750.0       1-2020

 [1224 rows x 12 columns],
 0        1690
 1        1803
 2        1803
 3        1803
 4        1999
         ...
 1219    22685
 1220    24600
 1221     8804
 1222    18755
 1223      907
 Name: best_price, Length: 1224, dtype: int32)

In [89]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
features_cate = ['model_name', 'os', 'release_date']
hottie = OneHotEncoder()
transformer = ColumnTransformer([('one_hotti', hottie, features_cate)], remainder="passthrough")
transformed_x = transformer.fit_transform(x)
transformed_df = pd.DataFrame(transformed_x)
transformed_df

                                                      0
0       (0, 0)\t1.0\n  (0, 1068)\t1.0\n  (0, 1087)\t...
1       (0, 1)\t1.0\n  (0, 1068)\t1.0\n  (0, 1147)\t...
2       (0, 1)\t1.0\n  (0, 1068)\t1.0\n  (0, 1147)\t...
3       (0, 1)\t1.0\n  (0, 1068)\t1.0\n  (0, 1147)\t...
4       (0, 2)\t1.0\n  (0, 1068)\t1.0\n  (0, 1117)\t...
...                                                 ...
1219    (0, 1063)\t1.0\n  (0, 1073)\t1.0\n  (0, 1145...
1220    (0, 1064)\t1.0\n  (0, 1073)\t1.0\n  (0, 1145...
1221    (0, 1065)\t1.0\n  (0, 1068)\t1.0\n  (0, 1091...
1222    (0, 1066)\t1.0\n  (0, 1068)\t1.0\n  (0, 1087...
1223    (0, 1067)\t1.0\n  (0, 1074)\t1.0\n  (0, 1080...

[1224 rows x 1 columns]

In [91]:
#second method of conversion
transformed_new=pd.get_dummies(phone_data[['model_name', 'os', 'release_date','lowest_price','highest_price','screen_size','battery_size','memory_size']])
transformed_new

,lowest_price,highest_price,screen_size,battery_size,memory_size,model_name_1 1/8GB Bluish Black (5033D-2JALUAA),model_name_1 5033D 1/16GB Volcano Black (5033D-2LALUAF),model_name_1.3 1/16GB Charcoal,model_name_10 6/64GB Black,model_name_10 Lite 3/32GB Blue,...,release_date_8-2019,release_date_8-2020,release_date_9-2013,release_date_9-2014,release_date_9-2015,release_date_9-2016,release_date_9-2017,release_date_9-2018,release_date_9-2019,release_date_9-2020
0,1529.0,1819.0,5.00,2000.0,8.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1659.0,2489.0,5.00,2000.0,16.0,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,1659.0,2489.0,5.00,2000.0,16.0,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,1659.0,2489.0,5.00,2000.0,16.0,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,NaN,NaN,5.71,3000.0,16.0,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,16018.0,27900.0,6.50,3174.0,64.0,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1220,21939.0,33720.0,6.50,3174.0,64.0,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1221,7999.0,9999.0,6.26,3750.0,128.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1222,18500.0,19010.0,6.65,4500.0,128.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1223,785.0,944.0,3.50,1750.0,NaN,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False